
.v_line_fix {
    margin-left: 12px;
    width: 2px;
    height: 184px;
    background-color: gray;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .v_line_fix {
        margin-left: 12px;
        width: 2px;
        height: 117px;
        background-color: gray;
        margin-top: 10px;
    }
}
