.top {
    height: 50vh;
    width: 100%;
    .top-visual {
        height: 100%;
        position: relative;
        .message {
            position: absolute;
            left:7%;
            top: 35%;
            padding-right: 1rem;
            p {
                font-size: 1.5rem;
            }
        }
    }
    .top-content {
        .fa-child {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 768px) {
    .top {
        height: 100vh;
        .top-visual {
            .message {
                left: 12%;
                top: 35%;
                p {
                    font-size: 2rem;
                }
            }
        }
        .top-content {
            p {
                font-size: 2rem;
            }
        }
    }
}
